/*
VARIABLES
*/
$accent: #d3112c;
$black: #000;
$white: #fff;

/*
MIXINS
*/
@mixin transition($time) { 
	-o-transition:$time;
	-ms-transition:$time;
	-moz-transition:$time;
	-webkit-transition:$time;
	transition:$time;
}


/*
GLOBALS
*/
* {margin: 0; padding: 0;}

body {
  font-size: 110%;
  line-height: 1.5;
  font-family: proxima-nova-alt;
  text-rendering: optimizeLegibility;
  background-color: $black;
  color: $white;
}

ul li {display: inline; list-style-type: none;}

.center {text-align: center;}

.dark {color: $white;}
.dark a:hover {color: $white;}
.light {color: $black;}
.light a:hover {color: $black;}

a, a:visited {color: $accent; text-decoration: none; @include transition(.4s);}


/*
SECTIONS
*/
section {padding: 9% 0;}

.description {
  text-align: left;
  padding-top: 60px;
  width: 70%;
  max-width: 675px;
  margin: 0 auto;
  @include transition(.8s);
}

.top h1 {padding: 40px 0 16px 0;}
.top ul li {padding: 0 12px;}
.top img {@include transition(.4s);}
.top a img:hover {opacity: .8; @include transition(.4s);}

.earthquake {background-color: #ffffe2;}


.seanbooks {border-top: 8px solid #11b4e3;  background-image: url(../img/light_toast.png);}
section .seanbooks {margin-top: -15px;}

.beerwhich {background-image: url(../img/pattern_beerwhich.png);}

.windows8 {background-color: #5eab1f;}

/*
TYPOGRAPHY
*/
h1 {font-size: 2.8rem; line-height: 1.2; font-weight: 300;}
h2 {font-size: 2rem;}
h5 {font-size: 1rem;}
h6 {font-size: 1.5rem; font-weight: normal;}


/* ============================= */
/* ! Layout for large screens   */
/* ============================= */
@media only screen 
and (min-width : 1824px) {
  section {padding: 11% 0;}
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
  section {padding: 15% 0;}
  body {font-size: 100%;}
  h1 {font-size: 1.5rem;}

  p.description {display: none;}
}
