body {
	background-color: #F0F3F5;
	color: #14171A;
	font-family: soleil, sans-serif;
	margin: 0 auto;
	padding: 0 0 5.4rem 0;
	position: relative;
	font-variant-ligatures: common-ligatures;
	text-align: center;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#mark {
	display: block;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	width: 104px;	
}

img#mark:hover {
	opacity: .85;
}

img {border: 0;}
img.sample {
	border-radius: 4px;
	width: 100%;
	max-width: 1024px;
	padding: 0;
    margin: .5rem 0;
}

section {
	margin: 0 auto;
	padding: 8%;
}

h1, p, p.caption {
	max-width: 38rem;
	text-align: left;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -1;
	line-height: 1.3;
	margin: 0 auto 1.8rem auto;
}

p, p.caption {
	font-size: 1.2em;
	margin: 0 auto 1.8rem auto;
}
p.caption {
	font-size: 1.2em;
	margin: 1.8rem auto 5.4rem auto;
	color: #7D8D99;
}


@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#mark {width: 60px;
		padding-top: 6%;
	}

	h1 {
		font-size: 1.6em;
		margin: 0 auto 1.4rem auto;
	}

	p, p.caption {
		font-size: 1.1em;
		margin: 0 auto 1rem auto;
		text-align: left;
		max-width: 40rem;
		line-height: 1.44;
	}
	p.caption {
		margin: 1.1rem auto 3rem auto;
		color: #7D8D99;
	}	
}