body {
	background-color: #fff;
	color: #14171A;
	font-family: soleil, sans-serif;
	line-height: 1.5;
	text-align: center;
	font-variant-ligatures: common-ligatures;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	padding: 0 0 5.4rem 0;
	position: relative;
	-webkit-animation: fadein 1s; 
	-moz-animation: fadein 1s; 
	-ms-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#mark {
	display: block;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	width: 80px;	
}

img#mark:hover {
	opacity: .85;
}

img {border: 0;}
img.sample {
	border-radius: 4px;
	width: 100%;
	max-width: 1024px;
	padding: 0;
    margin: .5rem 0;
	box-shadow: 0 2px 40px 0 rgba(0,0,0,0.09);
}

section {
	margin: 0 auto;
	padding: 6%;
}

h1, p, p.caption {
	max-width: 34rem;
	text-align: left;
}

h1 {
	font-size: 2em;
	font-weight: 400;
	letter-spacing: -1;
	line-height: 1.3;
	margin: 0 auto 1.8rem auto;
}

p, p.caption {
	font-size: 1.2em;
	margin: 0 auto 1.8rem auto;
}
p.caption {
	font-size: 1.2em;
	margin: .8rem auto 5.4rem auto;
	color: #7D8D99;
}


@media screen 
and (min-width : 0px) 
and (max-width : 480px) {
	#mark {width: 80px;
		padding-top: 6%;
	}

	h1 {
		font-size: 1.5em;
		margin: 0 auto 1.4rem auto;
	}

	p, p.caption {
		font-size: 1.125em;
		margin: 0 auto 1rem auto;
		text-align: left;
		max-width: 40rem;
		line-height: 1.7;
	}
	p.caption {
		margin: 1.1rem auto 3rem auto;
		color: #7D8D99;
	}	
}